body {
    margin: 0px;
    padding: 0px;
}

#cabeceira {
    padding: 30px;
    font-size: 3em;
    background-color: black;
    color: white;
}

#flex {
    display: flex;
    background-color: grey;
    
    /*Modifica o exercicio anterior para que as ligazóns aparezan no centro da páxina.
    justify-content: center;*/
    
    /*Modifica o exercicio anterior para que as ligazóns aparezan á dereita da páxina.
    justify-content: flex-end;*/
    
    /*Modifica o exercicio anterior para que as ligazóns aparezan con espazo entre elas.
    justify-content: space-between;*/
    
    /*Modifica o exercicio anterior para que as ligazóns aparezan con espazo ao redor delas.
    justify-content: space-around;*/
    
    /*Modifica o exercicio anterior para que as ligazóns estean nunha columna, en lugar de 
    nunha fila.
    flex-direction: column;*/
}

a {
    padding: 15px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}
