.cards {
    gap: 10px;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
}

.card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: grey;
}