body {
    font-family: 'Oswald', sans-serif;
}

label, input, select, p {
    margin: 0.5em;
    padding: 0.5em;
}

input:focus {
    border-color: red;
}

select {
    border-radius: 50px;
    background-color: #f1f1f1;
}

input {
    background-color: #ffdc8a;
}

input[type="submit"] {
    border-radius: 50px;
    border: none;
}

#dificultade:checked + span {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-size: 50px 50px;
    background-image: url(cthulhu.svg);
    position: absolute;
}

#valoracion:out-of-range {
    background-color: red;
}

